# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ===== React Native / Expo (Member E) =====
# dependencies
node_modules/

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# ===== Java / Spring Boot (Backend) =====
# virtual machine crash logs
hs_err_pid*
replay_pid*
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/
